/*  07. footer area css here */

.footer_top {
	padding-bottom: 61px;
    @media #{$tablet-device}{
       padding-bottom: 42px;
    }
    @media #{$large-mobile}{
       padding-bottom: 27px;
    }
}
.widgets_container{
     @media #{$tablet-device}{
       margin-bottom: 20px;
    }
    @media #{$large-mobile}{
       margin-bottom: 25px;
    }
    
    & > h3{
        font-size: 20px;
        line-height: 26px;
        text-transform: capitalize;
        margin-bottom: 24px;
        font-weight: 600;
        color: $fonts_color6;
        @media #{$tablet-device}{
           margin-bottom: 8px;
        }
        @media #{$large-mobile}{
            margin-bottom: 8px;
            font-size: 18px;
            line-height: 25px;
        }
    }
}
.footer_menu{
    & ul{
        & li{
            & a{
                display: block;
                font-weight: 400;
                line-height: 30px;
                font-size: 14px;
                color: $fonts_color;
                &:hover{
                    color: $secondary_color;
                }
                @media #{$large-mobile}{
                   font-size: 13px;
                }
            }
        }
    }
}

.footer_contact{
    & p{
        margin-bottom: 0;
        line-height: 30px;
        & a{
            &:hover{
                color: $secondary_color;
            }
        }
    }
    & ul{
        margin-top: 10px;
        & li{
            display: inline-block;
            margin-right: 7px;
            &:last-child{
                margin-right: 0;
            }
            & a{
                color: #b2b2b2;
                font-size: 18px;
                width: 40px;
                height: 40px;
                line-height: 40px;
                border: 1px solid #e1e1e1;
                background: #fff;
                text-align: center;
                border-radius: 50%;
                display: block;
                &:hover{
                    color: $secondary_color;
                    border-color: $secondary_color;
                }
            }
        }
    }
}

.simple_product_content{
    & .tag_cate{
        margin-bottom: 0;
    }
    & .product_name{
        & h3{
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 10px;
            & a{
                color: $secondary_color6;
                &:hover{
                    color: $secondary_color;
                }
            }
        }
    }
    & .product_price{
        & span{
            color: $fonts_color;
            font-size: 14px;
            font-weight: 400;
            &.old_price{
                text-decoration: line-through;
                padding-right: 8px;
            }
            &.current_price{
                color: $secondary_color;
                font-weight: 500;
            }
        }
        
    }
}
.simple_product_items {
	display: flex;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $grey_color;
    &:last-child{
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 0;
    }
}

.simple_product_thumb {
	width: 22%;
}

.simple_product_content {
	width: 70%;
	margin-left: 17px;
}

.footer_middel_menu{
    text-align: center;
    padding: 17px 0 15px;
    border-bottom: 1px solid $grey_color;
    border-top: 1px solid $grey_color;
    ul{
        li{
            display: inline-block;
            margin-right: 40px;
            @media #{$tablet-device}{
                margin-right: 24px;
            }
            @media #{$large-mobile}{
                margin-right: 20px;
            }
            &:last-child{
                margin-right: 0;
            }
            & a{
                font-size: 16px;
                text-transform: capitalize;
                color: $fonts_color;
                &:hover{
                    color: $secondary_color;
                }
                @media #{$tablet-device}{
                    font-size: 13px;
                }
                @media #{$large-mobile}{
                    font-size: 13px;
                }
            }
        }
    }
}


.copyright_area{
    text-align: center;
    & p{
        text-transform: capitalize;
        line-height: 26px;
        @media #{$large-mobile}{
           margin-bottom: 5px;
        }
        & a{
            color: $secondary_color;
            &:hover{
                text-decoration: underline;
            }
        }

        & i{ color: red;}
    }
}


.footer_bottom {
	padding: 38px 0 46px;
    @media #{$large-mobile}{
       padding: 20px 0 24px
    }
}



/*home five footer css here*/
.footer_black{
    border-top: 1px solid $secondary_color12;
    padding-top: 67px;
    @media #{$large-mobile}{
       padding-top: 55px;
    }
    & .widgets_container{
        & > h3{
            color: $fonts_color6;
            font-family: $Prata;
            font-weight: 400;
        }
    }
    & .footer_contact{
        & p{
            color: #a0a0a0;
        }
        & ul{
            & li{
                & a{
                    background: $grey_color;
                    color: $fonts_color;
                    border:0;
                    &:hover{
                        background: $secondary_color;
                        color: $white;
                    }
                }
            }
        }
    }
    & .footer_menu{
        & ul{
            & li{
                & a{
                    color: #a0a0a0;
                    &:hover{
                        color: $secondary_color;
                    }
                }
            }
        }
    }
    & .tag_cate{
        & a{
            color: #a0a0a0;
            &:hover{
                color: $secondary_color13;
            }
        }
    }
    & .product_name{
        & h3{
            font-family: $Prata;
            text-transform: capitalize;
            & a{
                color: $white;
            }
        }
    }
    & .simple_product_content{
        & .product_price{
            & span.current_price{
                color: $secondary_color;
            }
        }
    }
    & .simple_product_items{
        border-bottom: 1px solid $secondary_color12;
        &:last-child{
            border-bottom: 0;
        }
    }
    & .footer_middel_menu{
        border-bottom: 1px solid $secondary_color12;
        border-top: 1px solid $secondary_color12;
        & ul{
            & li{
                & a{
                    color: #a0a0a0;
                    font-family: $Prata;
                    &:hover{
                        color: $secondary_color;
                    }
                }
            }
        }
    }
    & .copyright_area{
        & p{
            color: #a0a0a0;
            & a{
                color: $secondary_color;
            }
        }
    }
}



/*other footer css here*/
.footer_other{
    border-top: 1px solid $grey_color;
    padding-top: 64px;
    @media #{$large-mobile}{
      padding-top: 54px;
    }
}





















