/* 03. product section css here */
/*------ custom tooltip start -------*/
.tooltip.show {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}

.tooltip>.tooltip-inner {
    font-size: 13px;
    background-color: #d8373e;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}


.tooltip-inner {
    padding: 2px 10px 5px;
    border-radius: 2px;
    font-size: 12px;
    line-height: 20px;
    background: $fonts_color6 !important;
}
.product_section{
   margin-bottom: 34px;
    @media #{$large-mobile}{
        margin-bottom: 25px;
    }
    
}

.tab-content > .tab-pane.active {
	display: block;
	height: auto;
	opacity: 1;
	overflow: visible;
}
.tab-content > .tab-pane{
    display: block;
    height: 0;
    opacity: 0;
    overflow: hidden;;
}

.custom-row {
	display: flex;
	flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
}

.product_tab_button{
    margin-bottom: 35px;
    text-align: center;
    & ul{
        justify-content: center;
        margin: 0 auto;
        border: 2px solid $grey_color;
        @media #{$large-mobile}{
            border: 0;
        }
        &.nav{
            display: inline-block;
            position: relative;
            &::before{
                content: "";
                width: 200px;
                height: 2px;
                position: absolute;
                right: 100%;
                top: 50%;
                background-image: linear-gradient(to right,transparent,#ebebeb);
                @media #{$tablet-device}{
                    width: 150px;
                }
                @media #{$large-mobile}{
                    display: none;
                }
            }
            &::after{
                content: "";
                width: 200px;
                height: 2px;
                position: absolute;
                left: 100%;
                top: 50%;
                background-image: linear-gradient(to right,#ebebeb,transparent);
                @media #{$tablet-device}{
                    width: 150px;
                }
                @media #{$large-mobile}{
                    display: none;
                }
            }
        }
        & li{
            display: inline-block;
            @media #{$large-mobile}{
                display: block;
            }
            &:first-child{
                & a{
                    border-left: 0;
                    @media #{$large-mobile}{
                        border-left: 2px solid $grey_color;
                        margin-top: 0;
                    }
                }
            }
            & a{
                font-size: 20px;
                color: $fonts_color6;
                line-height: 48px;
                text-transform: capitalize;
                font-weight: 700;
                display: inline-block;
                font-family: $Playfair;
                border-left: 2px solid $grey_color;
                padding: 0 30px;
                border-radius: 2px;
                @include transition(.3s);
                @media #{$large-mobile}{
                    border-left: 0;
                    border: 2px solid $grey_color;
                    min-width: 190px;
                    margin-top: 8px;
                    font-size: 16px;
                    line-height: 40px
                }
                
                &:hover{
                    color: $secondary_color;
                }
                &.active{
                    position: relative;
                    color: $secondary_color;
                    
                    &::before{
                        position: absolute;
                        content: "";
                        width: 104%;
                        height: 109%;
                        border: 2px solid $secondary_color;
                        left: -2px;
                        top: -2px; 
                        border-radius: 2px;
                        @media #{$large-mobile}{
                            width: 102%;
                        }
                    }
                    
                }
            }
        }
    }
}




.product_container{
    & .custom-col-5{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 6px;
    }
    & button{
        display: none !important;
    }
}



.single_product{
    
    &:hover{
        & .product_thumb{
            & a{
                &.secondary_img{
                    opacity: 1;
                    visibility: visible;
                }  
            }    
        }
        
        & .quick_button {
            opacity: 1;
            visibility: visible;
        }
    }
}
.product_thumb{
    position: relative;
    margin-bottom: 8px;
    & a.secondary_img{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
    }
}



.quick_button {
	position: absolute;
    bottom: 15px;
	left: 15px;
    right: 15px;
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
    @include transition(.3s);
    & a{
         line-height: 45px;
        background: #3e3e3e;
        color: $white;
        padding: 0 10px;
        font-weight: normal;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        font-size: 13px;
        text-transform: capitalize; 
        width: 100%;
        text-align: center;
        display: block;
        &:hover{
            background: $secondary_color; 
        }
    }
}


.product_content{
    text-align: center;
    position: relative;
    & h3{
        line-height: 22px;
        font-size: 15px;
        font-weight: 700;
        text-transform: capitalize;
        position: relative;
        padding-bottom: 15px;
        margin-bottom: 13px;
        &::before{
            background-image: linear-gradient(to right,transparent,#ebebeb 30%,85%,transparent);
            content: "";
            display: block;
            height: 1px;
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }
        & a{
            color: $fonts_color6;
            &:hover{
                color: $secondary_color;
            }
            
        }
    }
    
}

.price_box{
    & > span{
        font-size: 16px;
        font-weight: 500;
        color: $secondary_color;
        &.old_price{
            color: #545454;
            font-size: 14px;
            margin-right: 5px;
            text-decoration: line-through;
            font-weight: 400;
        }
    }
}
.product_hover {
	position: absolute;
	top: 50%;
	z-index: 9;
	left: 0;
    background: $white;
    padding: 3px 8px 20px 8px;
    box-shadow: 0px 6px 7px 0 rgba(0, 0, 0, 0.3);
    transition: all 300ms ease-in-out;
    opacity: 0;
    visibility: hidden;
    width: 100%;
}

.single_product{
     @include transition(.3s);
    margin-bottom: 30px;
    &:hover{
        background: #ffffff;
        border-radius: 3px;
        box-shadow: 0px 0 15px 0 rgba(0,0,0,0.3);
        & .product_hover{
            top: 66%;
            opacity: 1;
            visibility: visible;
        }
    }
}
.product_ratings{
    margin-bottom: 6px;
    & ul{
        & li{
            display: inline-block;
            & a{
                color: $secondary_color;
            }
        }
    }
}

.action_links{
    & ul{
        & li{
            display: inline-block;
            &.add_to_cart{
                & a{
                    line-height: 35px;
                    padding: 0 18px;
                    font-family: $Playfair;
                    width: 100%;
                    text-transform: capitalize;
                    font-size: 12px;
                }
            }
            & a{
                line-height: 35px;
                height: 35px;
                width: 35px;
                background: #f1f1f1;
                color: #666;
                display: block;
                text-align: center;
                &:hover{
                    background: $secondary_color;
                    color: $white;
                }
            }
        }
    }
}


.tag_cate{
    margin-bottom: 10px;
    & a{
        color: $fonts_color;
        font-size: 13px;
        &:hover{
           color: $secondary_color;
        }
    }
}

.product_desc{
    margin-bottom: 15px;
    position: relative;
    padding-bottom: 14px;
    &::before{
        background-image: linear-gradient(to right,transparent,#ebebeb 30%,85%,transparent);
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    & p{
        font-size: 13px;
        line-height: 18px;
        color: $fonts_color;
    }
}

.p_section1{
    & .slick-list {
        padding-bottom: 135px !important;
        margin-bottom: -135px;
        z-index: 9;
        padding-top: 18px !important;
        margin-top: -30px;
        position: relative;
    }
    
}
.p_bottom.p_section1{
    & .slick-list{
        padding-bottom: 120px !important;
        margin-bottom: -120px;
    }
}


.product_container{
    &.bottom{
        & button{
            display: block !important;
            position: absolute;
            top: -63px;
            right: 30px;
            z-index: 99;
            border: 0;
            background: inherit;
            font-size: 23px;
            background: $body-color;
            &:hover{
                color: $secondary_color;
            }
            @media #{$large-mobile}{
                top: -61px;
            }
            &.next_arrow{
                right: 13px;
            }
        }
    }
}

.section_title {
	margin-bottom: 33px;
    position: relative;
    &::before{
        content: "";
        height: 2px;
        background: $grey_color;
        position: absolute;
        left: 0;
        right: 15px;
        top: 50%;
    }
    & h2{
        margin-bottom: 0;
        position: relative;
        display: inline-block;
        line-height: 30px;
        text-transform: capitalize;
        padding-right: 20px;
        background: $body-color;
        color: $fonts_color6;
        font-size: 24px;
        font-weight: 700;
        @media #{$large-mobile}{
            font-size: 19px;
        }
    }
}


.product_section{
    &.p_bottom{
        margin-bottom: 68px;
        border-bottom: 1px solid  $grey_color;
        padding-bottom: 39px;
        & .section_title{
            margin-bottom: 33px;
        }
        @media #{$large-mobile}{
            margin-bottom: 63px;
            padding-bottom: 34px;
        }
        
    }
}






/*home two css here*/
.product_bottom_two{
    background: $secondary_color11;
    padding: 70px 0 50px;
    margin-bottom: 77px;
    @media #{$large-mobile}{
        padding: 60px 0 25px;
        margin-bottom: 52px;
    }
    & .product_container{
        & .custom-col-5{
            padding: 0 15px;
            @media #{$large-mobile}{
               padding: 0 8px;
            }
            @media #{$small-mobile}{
               padding: 0 15px;
            }
        }
    }
    & .custom-row{
        margin-left: -15px;
        margin-right: -15px;
    }
}



/*home three css here*/
.product_s_three{
    margin-bottom: 44px;
    @media #{$large-mobile}{
        margin-bottom: 25px;
    }
}



/*home five css here*/
.product_black_section{
    & .product_tab_button{
        & ul.nav{
            border: 2px solid $grey_color;
            @media #{$large-mobile}{
                border: 0;
            }
            &::before{
                background-image: linear-gradient(to right,transparent,$grey_color);
                @media #{$tablet-device}{
                    width: 120px;
                }
            }
            &::after{
                background-image: linear-gradient(to right,$grey_color);
                @media #{$tablet-device}{
                    width: 120px;
                }
            }
            & li{
                &:first-child{
                    & a{
                        border-left: 0;
                    }
                }
                & a{
                    border-left: 2px solid $grey_color;
                    color: $fonts_color6;
                    font-family: $Prata;
                    @media #{$large-mobile}{
                        border: 2px solid $secondary_color12;
                    }
                    &:hover{
                        color: $secondary_color;
                    }
                    &.active{
                        color: $secondary_color;
                        &::before{
                            border: 2px solid $secondary_color;
                        }
                    }
                }
            }
        }
    }
    & .single_product{
        padding: 15px 17px;
        &:hover{
            background: $white;
        }
    }
    & .product_hover{
        background: $white;
        left: -17px;
        width: 115%;
    }
    & .product_container{
        & .custom-col-5{
            padding: 0;
        }
        
    } 
    & .slick-list {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    & .quick_button{
        & a{
            font-family: $Prata;
            font-size: 14px;
            &:hover{
                background: $secondary_color13;
            }
        }
    }
    & .tag_cate{
        & a{
            color: #a0a0a0;
            &:hover{
                color: $secondary_color13;
            }
        }
    }
    & .product_content{
        & h3{
            font-family: $Prata;
            font-weight: 400;
            font-size: 16px;
            display: grid;
            grid-template-rows: minmax(16px, 52px);
            overflow: hidden;
            &::before{
                background-image: linear-gradient(to right,transparent,$grey_color 30%,85%,transparent);
            }
            & a{
                color: $fonts_color6;
                &:hover{
                    color: $secondary_color;
                }
            }
        }
    }
    & .product_desc{
        & p{
            color: #a0a0a0;
        }
    }
    & .product_ratings{
        & ul{
            & li{
                & a{
                   color: $secondary_color13;  
                }
            }
        }
    }
    & .price_box{
        & span{
            &.current_price{
                color: $secondary_color !important;
            }
        }
    }
    & .product_desc{
        &::before{
            background-image: linear-gradient(to right, transparent, $grey_color 30%, 85%, transparent);
        }
    }
    & .action_links{
        & ul{
            & li{
                & a{
                    background: $fonts_color5;
                    color: #666;
                    &:hover{
                        background: $secondary_color;
                        color: $white;
                    }
                }
                &.add_to_cart{
                    & a{
                        font-family: $Prata;
                    }
                }
            }
        }
    }
    & .section_title{
        &::before{
            background: $secondary_color12;
        }
        & h2{
            color: $white;
            font-family: $Prata;
            background: $fonts_color6;
            font-weight: 400;
        }
    }
    & .product_container{
        &.bottom{
            & button{
                color: #a0a0a0;
                background: $fonts_color6;
                top: -66px;
                &:hover{
                    color: $secondary_color13;
                }
                @media #{$large-mobile}{
                   top: -61px;
                }
            }
        }
    }
    &.bottom{
        border-bottom: 1px solid $secondary_color12;
        padding-bottom: 34px;
        margin-bottom: 80px;
         @media #{$large-mobile}{
            padding-bottom: 45px;
            margin-bottom: 87px;
        }
    }
    &.bottom_two{
        background: $white;
        padding-bottom: 31px;
        margin-bottom: 75px;
        padding-top: 64px;
    }
}



.product9_bottom{
    padding: 80px 0 43px;
    margin-bottom: 80px;
    @media #{$large-mobile}{
        padding: 60px 0 24px;
        margin-bottom: 60px;
    }
}


.instagram_wrapper_new{
    position: relative;
}

