/* 08. shop page css here */
.header_shop{
    border-bottom: 1px solid $grey_color;
    & .header_top{
        padding: 7px 0;
    }
    & .header_middel{
        padding: 40px 0 18px;
        @media #{$large-mobile}{
            padding: 21px 0 18px;
        }
    }
    & .header_bottom {
        padding: 0;
        
    }
}


.breadcrumbs_area{
    padding: 40px 0;
    @media #{$tablet-device}{
       padding: 0 0 37px;
    }
    @media #{$large-mobile}{
        padding: 0 0 37px;
    }
}
.breadcrumb_content{
    text-align: center;
    border-bottom: 1px solid $grey_color;
    padding-bottom: 37px;
    @media #{$tablet-device}{
        border-bottom: 0;
        padding-bottom: 0;
        border-top: 1px solid $grey_color;
        padding-top: 37px;
    }
    @media #{$large-mobile}{
        border-bottom: 0;
        padding-bottom: 0;
        border-top: 1px solid $grey_color;
        padding-top: 37px;
    }
    & ul{
        line-height: 15px;
        & li{
            display: inline-block;
            text-transform: capitalize;
            font-size: 14px;
            margin-right: 5px;
            color:  $secondary_color;
            &:last-child{
                margin-right: 0;
            }
            & a{
                color: $fonts_color6;
                &:hover{
                    color:  $secondary_color;
                }
            }
        }
    }
}



.widget_list{
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid $grey_color;
    &:last-child{
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 0;
    }
    & h2{
        color: $fonts_color6;
        font-size: 24px;
        margin: 0 0 20px;
        text-transform: capitalize;
        font-weight: 700;
        line-height: 32px;
    }
    &.widget_categories{
        & > ul{
            & > li{
                line-height: 44px;
                border-bottom: 1px solid $grey_color;
                &:last-child{
                    border-bottom: 0;
                }
                & > a{
                    color: $fonts_color6;
                    font-size: 14px;
                    display: block;
                    &:hover{
                        color: $secondary_color;
                    }
                }

            }
        }
    }
    &.widget_brands{
        & ul{
            & li{
                line-height: 44px;
                position: relative;
                padding-left: 28px;
                & span{
                    color: $fonts_color;
                    font-size: 15px;
                    float: right;
                }
                & a{
                    color: $fonts_color;
                    font-size: 15px;
                    text-transform: capitalize;
                    &:hover{
                        color: $secondary_color;
                    }
                }
            }
        }
    }
    &.widget_color{
        @extend .widget_brands;
    }
}



.ui-slider-horizontal .ui-slider-range {
	background: $secondary_color;
	height: 5px;
}

.ui-slider-horizontal {
	height: 3px;
	background: #dbdbdb;
	border: none;
	width: 92%;
	margin: 0 auto;
    margin-bottom: 22px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: $secondary_color;
	border: 0;
	border-radius: 0;
	width: 15px;
	height: 15px;
	top: -5px;
	cursor: e-resize;
    border-radius: 50%;
}

.widget_list.widget_filter {
    & form{
        padding-top: 10px;
        & input {
            background: none;
            border: none;
            font-size: 14px;
            float: left;
            line-height: 31px;
            width: 100%;
            color: $fonts_color;
            font-weight: 500;
        }
        & button{
            height: 30px;
            line-height: 30px;
            padding: 0 16px;
            font-size: 12px;
            text-transform: capitalize;
            color: $white;
            background: $fonts_color2;
            border: 0;
            border-radius: 3px;
            font-weight: 500;
            @include transition(.3s);
            &:hover{
                background: $secondary_color;
            }
        }
    }
    
}


.tag_widget{
    & ul{
        & li{
            display: inline-block;
            & a{
                margin: 0 6px 5px 0;
                display: block;
                font-size: 14px;
                font-weight: 400;
                border: 1px solid $grey_color;
                background: $white;
                padding: 8px 14px;
                line-height: 20px; 
                color: $fonts_color;
                text-transform: capitalize;
                border-radius: 3px;
                @media #{$desktop-device }{
                    padding: 0 13px;
                }
                &:hover{
                    background: $secondary_color;
                    color:$body-color;
                    border-color: $secondary_color;
                }
            }
        }
    }
}
.widget_list{
    &.compare_p{
        & .compare_img{
            float: left;
            width: 25%;
        }
        & .compare_info{
            float: left;
            padding-left: 10px;
            text-align: left;
            width: 75%;
        }
        & .compare_info{
            & h3{
                font-size: 14px;
                line-height: 26px;
                margin-bottom: 0;
                font-weight: 700;
                & a{
                    color: $fonts_color6;
                    &:hover{
                        color: $secondary_color;
                    }
                }
            }
        }
        & .compare_item{
            overflow: hidden;
            border-bottom: 1px solid $grey_color;
            padding-bottom: 19px;
            margin-bottom: 18px;
            &.bottom{
                border-bottom: 0;
                padding-bottom: 0;
                margin-bottom: 20px;
            }
        }
        & .compare_btn{
            & a{
                background: #1a1a1a;
                color: #fff;
                font-size: 12px;
                font-weight: normal;
                height: 35px;
                line-height: 35px;
                display: inline-block;
                padding: 0 20px;
                text-transform: capitalize;
                border-radius: 3px;
                &:hover{
                    background: $secondary_color;
                    color: $white;
                }
                & i{
                    margin-left: 5px;
                }
            }
        }
    }
    &.Featured_p{
        & .Featured_img{
            float: left;
            width: 25%;
        }
        & .Featured_info{
            float: left;
            padding-left: 10px;
            text-align: left;
            width: 75%;
        }
        & .Featured_info{
            & h3{
                font-size: 14px;
                line-height: 26px;
                margin-bottom: 0;
                font-weight: 700;
                & a{
                    color: $fonts_color6;
                    &:hover{
                        color: $secondary_color;
                    }
                }
            }
        }
        & .Featured_item{
            overflow: hidden;
            border-bottom: 1px solid $grey_color;
            padding-bottom: 19px;
            margin-bottom: 18px;
            &.bottom{
                border-bottom: 0;
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
    }
    
}


.shop_toolbar {
	display: flex;
    align-items: center;
	justify-content: space-between;
    border: 1px solid $grey_color;
    padding: 12px 10px;
    margin: 0 0 30px;
    @media #{$large-mobile}{
      flex-direction: column;
       padding: 12px 10px 0px;
    }
    
}
.orderby_wrapper {
	display: flex;
	align-items: center;
    @media #{$large-mobile}{
      flex-direction: column;
    }
    & h3{
        color:$fonts_color;
        font-size: 14px;
        margin-bottom: 0;
        margin-right: 15px;
        @media #{$large-mobile}{
           margin-bottom: 8px;
            margin-right: 0;
        }
    }
}

.niceselect_option{
    height: 35px;
    line-height: 35px;
    border-radius: 0;
    @media #{$large-mobile}{
      margin-bottom: 12px;
    }
}
.page_amount{
    margin-left: 30px;
    @media #{$large-mobile}{
       margin-bottom: 12px;
        margin-left: 0;
    }
    & p{
        color: $fonts_color;
        @media #{$large-mobile}{
            padding-left: 0;
            margin-left: 0;
            border-left: 0;
        }
    }
}

.list_button{
    & ul{
        & li{
            margin-right: 15px;
            &:last-child{
                margin-right: 0;
            }
            & a{
                font-size: 23px;
                &:hover{
                    color: $secondary_color;
                }
                
                &.active{
                    color: $secondary_color;
                }
            }
        }
    }
}




.product_ratting{
    & ul{
        & li{
            display: inline-block;
            & a{
                color: $secondary_color;
            }
        }
    }
}

.product_list_item{
    &:hover{
        background: inherit;
        box-shadow: inherit;
    }
    & .product_content{
        text-align: left;
        top: 28px;
        & h3{
            margin-bottom: 16px;
            padding-bottom: 0;
            font-size: 18px;
            font-weight: 400;
            &::before{
                display: none;
            }
            & a{
                color: $secondary_color6;
                &:hover{
                    color: $secondary_color13;
                }
            }
        }
    }
    & .product_ratting{
        margin-bottom: 10px;
    }
    & .product_desc{
        padding: 0;
        margin-bottom: 18px;
        &::before{
            display: none;
        }
        & p{
            font-size: 14px;
            width: 500px;
            @media #{$desktop-device}{
                width: 100%;
            }
            @media #{$tablet-device}{
                width: 100%;
            }
            @media #{$large-mobile}{
                width: 100%;
            }
        }
    }
    & .price_box{
        margin-bottom: 22px;
    }
    & .action_links{
        & ul{
            & li{
                margin-right: 5px;
                &:last-child{
                    margin-right: 0;
                }
                & a{
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    border-radius: 3px;    
                }
                &.add_to_cart{
                    & a{
                        padding: 0 32px;
                        width: 100%;
                    }
                }
            }
        }
    }
}



.pagination{
    @media #{$large-mobile}{
        margin-top: 19px;
    }
    & ul{
        & li{
            display: inline-block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            background: $fonts_color5;
            color: $fonts_color;
            border-radius: 3px;
            margin-left: 3px;
            &:first-child{
                margin-left: 0;
            }
            & a{
              display: block;
                border-radius: 3px;
                &:hover{
                   background: $secondary_color;
                    color: $white; 
                }
                
            }
            &.current{
                background: $secondary_color;
                color: $white;
            }
            &.next{
                width: 40px;
            }
        }
    }
}



.shop_toolbar.t_bottom {
    justify-content: center;
    margin-bottom: 0;
    @media #{$tablet-device}{
        margin-bottom: 59px;
        margin-top: 0;
    }
    @media #{$large-mobile}{
        padding: 15px 10px 15px;
        margin-top: 23px;
        margin-bottom: 50px;
    }
    & .pagination{
         @media #{$large-mobile}{
            margin-top: 0;
        }
    }
}


.shop_reverse{
    & .row{
        @media #{$tablet-device}{
          flex-direction: column-reverse;
        }
        @media #{$large-mobile}{
          flex-direction: column-reverse;
        }
    }
}

.shop_reverse{
    & .tab-content{
        & .row{
            @media #{$tablet-device}{
              flex-direction: row;
            }
            @media #{$large-mobile}{
              flex-direction: row;
            }
        }
    }
    
}

.shop_area{
    padding-bottom: 65px;
    @media #{$tablet-device}{
      padding-bottom: 34px;
    }
    @media #{$large-mobile}{
      padding-bottom: 46px;
    }
    & .list_view.active{
        @media #{$desktop-device}{
          padding-bottom: 36px;
        }
        @media #{$large-mobile}{
          padding-bottom: 36px;
        }
    }
    & .quick_button{
        & a{
            font-family: $Playfair;
        }
    }
}



.shop_fullwidth{
    padding-bottom: 70px;
    @media #{$large-mobile}{
      padding-bottom: 60px;
    }
    & .shop_toolbar.t_bottom{
        margin-bottom: 0;
    }
}


.sort-by{
    .form-control{
        width: 11rem;
    }
}


.chk {
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 2rem;

    input[type=checkbox] {
        visibility: hidden;
    }

    .checkbox{
        position: absolute;
        top: 12px;
        left: 0;
        height: 20px;
        width: 20px;
        border: 1px solid;

        &:after{
            content: "";
            position: absolute;
            display: none;
            left: 6px;
            bottom: 4px;
            width: 7px;
            height: 15px;
            border: solid white;
            border-width: 0 3px 3px 0;
            @include rotate(45deg);
        }
    }

    input:checked ~ .checkbox {
        background-color: $secondary-color;
    }

    input:checked ~ .checkbox:after {
        display: block;
    }
}